.logement-info h1 {
  color: #FF6060;
  font-size: 30px;
  font-weight: 500; 
  margin-left: 100px;
}

.logement-location {
  font-size: 18px;
  font-weight: 500;
  margin-left: 100px;
}

.logement-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem; 
  margin-left: 100px; 
  margin-bottom: 1rem;
}

.tag {
  background-color: #FF6060;
  color: #fff;
  padding: 0.5rem 1rem; 
  border-radius: 10px;
  font-size: 0.85rem;
  font-weight: bold;
}

.logement-header {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 2rem; 
  margin-bottom: 1rem;
}

.logement-host-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: column;
}

.logement-host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

.host-name {
  font-weight: bold;
  line-height: 1.2;
  color: #FF6060;
}

.logement-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 100px;
}

.logement-rating .star svg {
  width: 40px;   
  height: 40px;
}

.logement-rating .star.filled path {
  fill: #FF6060; 
}

.logement-rating .star path {
  fill: #E0E0E0; 
}

.logement-collapses {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logement-collapse {
  flex: 1 1 48%;        
  min-width: 250px;
  max-width: 600px;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-height: 400px;     
  overflow: hidden;     
}

.collapse-content {
  padding: 10px 15px;
  font-size: 0.95rem;
  line-height: 1.3;      
}

/* ----- Responsive pour mobile ----- */
@media (max-width: 768px) {
  .logement-header {
    flex-direction: column; 
    align-items: flex-start;
  }

  .logement-host-rating {
    align-items: flex-start; 
  }

  .logement-collapse {
    flex: 1 1 100%;       
    max-width: 100%;
    max-height: none;     
  }
}






