.collapse {
  margin: 0 auto 20px;
  border-radius: 5px;
  background-color: #fff;
  max-width: 1300px; 
  width: 100%; 
  overflow: hidden; 
  transition: background-color 0.3s ease; 
}

.collapse.open {
  background-color: #F6F6F673; 
}

/* Header cliquable */
.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #FF6060;
  font-weight: bold;
  font-size: 1rem;
}

.collapse-header h3 {
  margin: 0;
  color: white;
}

.arrow {
  font-weight: bold;
  font-size: large;
  color: white;
  transform: rotate(90deg);   
  transition: transform 0.6 ease; 
}

.arrow.open {
  transform: rotate(-90deg);  
}

.collapse-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.collapse-content {
  padding: 10px 15px;
  font-size: 0.95rem;
  line-height: 1.4;
}

.collapse {
  width: 100%;  
  box-sizing: border-box; 
}

/* Mobile */
@media (max-width: 768px) {

main {
    min-height: 100vh;         
    display: flex;
    flex-direction: column;
  }

.content {                     
    flex: 1;                      
  }

.collapse-content-wrapper {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.collapse {
    width: 100%;         
    max-width: none;   
    margin: 0 0 15px -10px;  
  }

.collapse-header h3 {
  font-size: 0.8rem;    
}

.collapse-header {
  padding: 6px 10px;
  font-size: 0.9rem;
}

.collapse-header {
  padding: 6px 10px;     
  font-size: 0.6rem;     
}

.collapse-content p {
  font-size: 0.75rem;   
}

.arrow svg {
  width: 1rem;
  height: 1rem;
}
}








