.header {
  width: 100%;                 
  max-width: 85%;           
  margin: 0 auto;              
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 1rem 2rem;
  background-color: #fff;
}

.nav {
  display: flex;
  gap: 3rem;                  
}

.nav a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;             
  line-height: 1;
}

.nav a:hover {
  border-bottom: 1.5px solid #000;
}

.header .logo {
  width: 220px;    
  height: auto;   
}

@media (max-width: 768px) {
  .header .logo {
    width: 120px;  
  }

  .nav a {
    font-size: 1rem; 
  }

  .nav {
  display: flex;
  gap: 0.5rem;  
}
}















