#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Desktop inchangé, pas de modification ici */

/* Mobile */
@media (max-width: 768px) {

  main {
    padding: 0; /* supprime le padding sur mobile */
  }

  .header {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* logo collé à gauche */
    align-items: center;
    gap: 2rem; /* espace entre logo et nav */
  }

  .header .nav a {
    font-size: 0.7rem;
  }

  .logo {
    height: 3em;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .nav {
    display: flex;     /* liens sur la même ligne */
    gap: 0.1rem;       /* espace réduit entre les liens uniquement sur mobile */
  }

  .nav a {
    font-size: 0.7rem; 
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block; /* utile pour supprimer l’espace invisible entre liens */
  }
}











